<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.tml.localization.stringeditor.contentprovider" name="String Editor Content Provider" schema="schema/contentprovider.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to localization"
            id="org.eclipse.tml.localization.stringeditor.commands"
            name="Localization">
      </category>
   </extension>
</plugin>
