<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="org.eclipse.sequoyah.vnc.vncviewer.vncviews">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.sequoyah.vnc.vncviewer.vncviews"
            class="org.eclipse.sequoyah.vnc.vncviewer.vncviews.views.VNCViewerView"
            icon="icons/vncMonitor.gif"
            id="org.eclipse.sequoyah.vnc.vncviewer.vncviews.views.VNCViewerView"
            name="%view.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.eclipse.sequoyah.vnc.vncviewer.vncviews.views.VNCViewerViewActions"
            targetID="org.eclipse.sequoyah.vnc.vncviewer.vncviews.views.VNCViewerView">
         <action
               class="org.eclipse.sequoyah.vnc.vncviewer.vncviews.views.ViewActionOpenConnection"
               icon="icons/connect.gif"
               id="org.eclipse.sequoyah.vnc.vncviewer.vncviews.openConnectionAction"
               label="%action.open.name"
               state="false"
               style="push"
               toolbarPath="additions">
               toolbarPath="additions">
         </action>
         <action
               class="org.eclipse.sequoyah.vnc.vncviewer.vncviews.views.ViewActionStopConnection"
               icon="icons/stop.png"
               id="org.eclipse.sequoyah.vnc.vncviewer.vncviews.stopConnectionAction"
               label="%action.stop.name"
               state="false"
               style="push"
               toolbarPath="additions">
            toolbarPath="additions">
         </action>
         <action
               class="org.eclipse.sequoyah.vnc.vncviewer.vncviews.views.ViewActionZoomOut"
               icon="icons/zoomOUT.GIF"
               id="org.eclipse.sequoyah.vnc.vncviewer.vncviews.zoomOutAction"
               label="%action.zoomout.name"
               state="false"
               style="push"
               toolbarPath="additions">
            toolbarPath="additions">
         </action>
         <action
               class="org.eclipse.sequoyah.vnc.vncviewer.vncviews.views.ViewActionZoomIn"
               icon="icons/zoomIN.GIF"
               id="org.eclipse.sequoyah.vnc.vncviewer.vncviews.zoomInAction"
               label="%action.zoomin.name"
               state="false"
               style="push"
               toolbarPath="additions">
            toolbarPath="additions">
         </action>
      </viewContribution>
   </extension>
</plugin>
