<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sequoyah.pulsar.core.sdkRepositoryProvider">
      <provider
            class="org.eclipse.sequoyah.pulsar.core.tests.utils.TestSDKRepositoryProvider">
      </provider>
   </extension>
</plugin>