<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  
<extension
      id="org.eclipse.tml.framework.device.tree"
      name="Device Viewer"
      point="org.eclipse.ui.views">
      <category
	   id = "other"
	   name="Other">
	 </category>
   <view
         category="other"
         class="org.eclipse.tml.framework.device.ui.view.DeviceView"
         icon="icons/movingBox.gif"
         id="org.eclipse.tml.framework.device.tree.ui.DeviceView"
         name="Device View">
   </view>
</extension>

<extension
      id="org.eclipse.tml.framework.device.tree.instance"
      name="Instance Viewer"
      point="org.eclipse.ui.views">
   <view
         category="other"
         class="org.eclipse.tml.framework.device.ui.view.InstanceView"
         icon="icons/movingBox.gif"
         id="org.eclipse.tml.framework.device.tree.ui.InstanceView"
         name="Instance View">
   </view>
</extension>

</plugin>
