<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.tml.protocol.protocolDefinition">
      <protocol
            handshake="org.eclipse.tml.vncviewer.network.VNCProtocol"
            initializer="org.eclipse.tml.vncviewer.network.VNCProtocol"
            isBigEndianProtocol="true"
            protocolId="vncProtocol">
      </protocol>
      <protocol
            handshake="org.eclipse.tml.vncviewer.network.VNCProtocol33"
            initializer="org.eclipse.tml.vncviewer.network.VNCProtocol33"
            isBigEndianProtocol="true"
            parentProtocol="vncProtocol"
            protocolId="vncProtocol33">
      </protocol>
      <protocol
            handshake="org.eclipse.tml.vncviewer.network.VNCProtocol37"
            initializer="org.eclipse.tml.vncviewer.network.VNCProtocol37"
            isBigEndianProtocol="true"
            parentProtocol="vncProtocol"
            protocolId="vncProtocol37">
      </protocol>
      <protocol
            handshake="org.eclipse.tml.vncviewer.network.VNCProtocol38"
            initializer="org.eclipse.tml.vncviewer.network.VNCProtocol38"
            isBigEndianProtocol="true"
            parentProtocol="vncProtocol"
            protocolId="vncProtocol38">
      </protocol>
   </extension>
   <extension
         point="org.eclipse.tml.protocol.protocolMessage">
      <message
            isMessageCodeSigned="false"
            messageCode="0x00"
            messageCodeSizeInBytes="1"
            messageHandler="org.eclipse.tml.vncviewer.network.handlers.FramebufferUpdateHandler"
            messageId="framebufferUpdate"
            messageName="FRAMEBUFFER_UPDATE"
            protocolId="vncProtocol">
         <fixedSizeData
               fieldName="padding"
               fieldSizeInBytes="1"
               isFieldSigned="false">
         </fixedSizeData>
         <fixedSizeData
               fieldName="numberOfRectangles"
               fieldSizeInBytes="2"
               isFieldSigned="false">
         </fixedSizeData>
         <iteratableBlock
               iterableBlockId="rectangle"
               iterateOn="numberOfRectangles">
            <fixedSizeData
                  fieldName="x-position"
                  fieldSizeInBytes="2"
                  isFieldSigned="false">
            </fixedSizeData>
            <fixedSizeData
                  fieldName="y-position"
                  fieldSizeInBytes="2"
                  isFieldSigned="false">
            </fixedSizeData>
            <fixedSizeData
                  fieldName="width"
                  fieldSizeInBytes="2"
                  isFieldSigned="false">
            </fixedSizeData>
            <fixedSizeData
                  fieldName="height"
                  fieldSizeInBytes="2"
                  isFieldSigned="false">
            </fixedSizeData>
            <fixedSizeData
                  fieldName="encodingType"
                  fieldSizeInBytes="4"
                  isFieldSigned="true">
            </fixedSizeData>
            <rawDataHandler
                  fieldName="pixelData"
                  rawDataHandler="org.eclipse.tml.vncviewer.network.handlers.FramebufferRectanglesHandler">
            </rawDataHandler>
         </iteratableBlock>
      </message>
      <message
            isMessageCodeSigned="false"
            messageCode="0x03"
            messageCodeSizeInBytes="1"
            messageId="framebufferUpdateRequest"
            messageName="FRAMEBUFFER_UPDATE_REQUEST"
            protocolId="vncProtocol">
         <fixedSizeData
               fieldName="incremental"
               fieldSizeInBytes="1"
               isFieldSigned="false">
         </fixedSizeData>
         <fixedSizeData
               fieldName="x-position"
               fieldSizeInBytes="2"
               isFieldSigned="false">
         </fixedSizeData>
         <fixedSizeData
               fieldName="y-position"
               fieldSizeInBytes="2"
               isFieldSigned="false">
         </fixedSizeData>
         <fixedSizeData
               fieldName="width"
               fieldSizeInBytes="2"
               isFieldSigned="false">
         </fixedSizeData>
         <fixedSizeData
               fieldName="height"
               fieldSizeInBytes="2"
               isFieldSigned="false">
         </fixedSizeData>
      </message>
      <message
            isMessageCodeSigned="false"
            messageCode="0x04"
            messageCodeSizeInBytes="1"
            messageId="keyEvent"
            messageName="KEY_EVENT"
            protocolId="vncProtocol">
         <fixedSizeData
               fieldName="downFlag"
               fieldSizeInBytes="1"
               isFieldSigned="false">
         </fixedSizeData>
         <fixedSizeData
               fieldName="padding"
               fieldSizeInBytes="2"
               isFieldSigned="false"
               value="0">
         </fixedSizeData>
         <fixedSizeData
               fieldName="key"
               fieldSizeInBytes="4"
               isFieldSigned="false">
         </fixedSizeData>
      </message>
      <message
            isMessageCodeSigned="false"
            messageCode="0x05"
            messageCodeSizeInBytes="1"
            messageId="pointerEvent"
            messageName="POINTER_EVENT"
            protocolId="vncProtocol">
         <fixedSizeData
               fieldName="buttonMask"
               fieldSizeInBytes="1"
               isFieldSigned="false">
         </fixedSizeData>
         <fixedSizeData
               fieldName="x-position"
               fieldSizeInBytes="2"
               isFieldSigned="false">
         </fixedSizeData>
         <fixedSizeData
               fieldName="y-position"
               fieldSizeInBytes="2"
               isFieldSigned="false">
         </fixedSizeData>
      </message>
      <message
            isMessageCodeSigned="false"
            messageCode="0x03"
            messageCodeSizeInBytes="1"
            messageHandler="org.eclipse.tml.vncviewer.network.handlers.ServerCutTextHandler"
            messageId="serverCutText"
            messageName="SERVER_CUT_TEXT"
            protocolId="vncProtocol">
         <fixedSizeData
               fieldName="padding"
               fieldSizeInBytes="3"
               isFieldSigned="false">
         </fixedSizeData>
         <variableSizeData
               charsetName="ISO-8859-1"
               isSizeFieldSigned="false"
               sizeFieldName="length"
               sizeFieldSizeInBytes="4"
               valueFieldName="text">
         </variableSizeData>
      </message>
      <message
            isMessageCodeSigned="false"
            messageCode="0x02"
            messageCodeSizeInBytes="1"
            messageHandler="org.eclipse.tml.vncviewer.network.handlers.BellHandler"
            messageId="bell"
            messageName="BELL"
            protocolId="vncProtocol">
      </message>
   </extension>
   <extension
         point="org.eclipse.tml.protocol.protocolMessageDirection">
      <clientMessage
            messageId="framebufferUpdateRequest"
            protocolId="vncProtocol">
      </clientMessage>
      <clientMessage
            messageId="keyEvent"
            protocolId="vncProtocol">
      </clientMessage>
      <clientMessage
            messageId="pointerEvent"
            protocolId="vncProtocol">
      </clientMessage>
      <serverMessage
            messageId="framebufferUpdate"
            protocolId="vncProtocol">
      </serverMessage>
      <serverMessage
            messageId="serverCutText"
            protocolId="vncProtocol">
      </serverMessage>
      <serverMessage
            messageId="bell"
            protocolId="vncProtocol">
      </serverMessage>
   </extension>

</plugin>

