<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mtj.tfm.sign.core.securityManagement">
      <security_Management
            class="org.eclipse.mtj.tfm.sign.smgmt.sun.impl.SecurityManagementImplementation"
            id="org.eclipse.mtj.tfm.sign.smgmt.sun.impl.SecurityManagement"
            name="org.eclipse.mtj.tfm.sign.smgmt.sun.impl.SecurityManagement"/>
   </extension>
      <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.mtj.tfm.sign.smgmt.sun.impl.PreferenceInitializer"/>
   </extension>

</plugin>
