<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.sequoyah.vnc.protocol.protocolDefinition">
      <protocol
            handshake="org.eclipse.sequoyah.vnc.echo.EchoProtocolHandshake"
            isBigEndianProtocol="true"
            protocolId="echoProtocol">
      </protocol>
   </extension>
   <extension
         point="org.eclipse.sequoyah.vnc.protocol.protocolMessage">
      <message
            isMessageCodeSigned="false"
            messageCode="0x600"
            messageCodeSizeInBytes="2"
            messageHandler="org.eclipse.sequoyah.vnc.echo.RequestHandler"
            messageId="requestMessage"
            messageName="REQUEST"
            protocolId="echoProtocol">
         <variableSizeData
               charsetName="US-ASCII"
               isSizeFieldSigned="false"
               sizeFieldSizeInBytes="1"
               valueFieldName="textToEcho">
         </variableSizeData>
      </message>
      <message
            isMessageCodeSigned="false"
            messageCode="0x700"
            messageCodeSizeInBytes="2"
            messageHandler="org.eclipse.sequoyah.vnc.echo.ResponseHandler"
            messageId="responseMessage"
            messageName="RESPONSE"
            protocolId="echoProtocol">
         <variableSizeData
               charsetName="US-ASCII"
               isSizeFieldSigned="false"
               sizeFieldSizeInBytes="1"
               valueFieldName="echoedMessage">
         </variableSizeData>
      </message>
      <message
            isMessageCodeSigned="false"
            messageCode="0x800"
            messageCodeSizeInBytes="2"
            messageHandler="org.eclipse.sequoyah.vnc.echo.ResponseHandler"
            messageId="responseWithSizeMessage"
            messageName="RESPONSE_WITH_SIZE"
            protocolId="echoProtocol">
         <variableSizeData
               charsetName="US-ASCII"
               isSizeFieldSigned="false"
               sizeFieldName="echoedMessageSize"
               sizeFieldSizeInBytes="1"
               valueFieldName="echoedMessage">
         </variableSizeData>
      </message>      
   </extension>
   <extension
         point="org.eclipse.sequoyah.vnc.protocol.protocolMessageDirection">
      <serverMessage
            messageId="responseMessage"
            protocolId="echoProtocol">
      </serverMessage>
      <serverMessage
            messageId="responseWithSizeMessage"
            protocolId="echoProtocol">
      </serverMessage>
      <clientMessage
            messageId="requestMessage"
            protocolId="echoProtocol">
      </clientMessage>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="echo.actionSet1"
            label="label"
            visible="true">
         <action
               class="org.eclipse.sequoyah.vnc.echo.ServerAction"
               id="echo.action1"
               label="start server"
               state="true"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="org.eclipse.sequoyah.vnc.echo.ClientAction"
               id="echo.action2"
               label="start client"
               state="true"
               style="push"
               toolbarPath="additions">
         </action>
      </actionSet>
   </extension>

</plugin>
