<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="protocolMessage" name="Protocol Message" schema="schema/protocolMessage.exsd"/>
   <extension-point id="protocolDefinition" name="Protocol Definition" schema="schema/protocolDefinition.exsd"/>
   <extension-point id="protocolMessageDirection" name="Protocol Message Direction" schema="schema/protocolMessageDirection.exsd"/>

</plugin>
