<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.sequoyah.android.cdt.build.ui.objectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="com.android.ide.eclipse.adt.AndroidNature"
               label="Android Tools"
               path="additions">
            <separator
                  name="group4">
            </separator>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="com.android.ide.eclipse.adt.AndroidNature">
               </objectState>
               <not>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.cdt.core.cnature">
                  </objectState>
               </not>
            </and>
         </visibility>
         <action
               class="org.eclipse.sequoyah.android.cdt.internal.build.ui.AddNativeSupport"
               id="org.eclipse.sequoyah.android.cdt.build.ui.addNativeSupport"
               label="Add Native Support..."
               menubarPath="com.android.ide.eclipse.adt.AndroidTools/group4">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.sequoyah.android.cdt.internal.build.ui.NDKPreferencePage"
            id="org.eclipse.sequoyah.android.cdt.build.ui.NDKPreferencePage"
            name="%androidNDKPreferencesPageName">
      </page>
   </extension>

</plugin>
