<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  
<extension
      id="org.eclipse.tml.framework.device.tree"
      name="Device Viewer"
      point="org.eclipse.ui.views">
   <view
         category="other"
         class="org.eclipse.tml.framework.device.ui.view.DeviceView"
         icon="icons/movingBox.gif"
         id="org.eclipse.tml.framework.device.tree.ui.DeviceView"
         name="Device View">
   </view>
</extension>

<extension
      id="org.eclipse.tml.framework.device.tree.instance"
      name="Instance Viewer"
      point="org.eclipse.ui.views">
   <view
         category="other"
         class="org.eclipse.tml.framework.device.ui.view.InstanceView"
         icon="icons/movingBox.gif"
         id="org.eclipse.tml.framework.device.tree.ui.InstanceView"
         name="Instance View">
   </view>
</extension>

<extension
      id="org.eclipse.tml.framework.device.ui.views"
      name="Device Framework Views"
      point="org.eclipse.ui.views">
   <view
         category="org.eclipse.tml.framework.device.ui.category"
         class="org.eclipse.tml.framework.device.ui.view.InstanceMgtView"
         icon="icons/full/obj16/device.gif"
         id="org.eclipse.tml.framework.device.ui.InstanceMgtView"
         name="Instance Management">
   </view>
   <category
         id="org.eclipse.tml.framework.device.ui.category"
         name="TmL">
   </category>
</extension>

<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         class="org.eclipse.tml.framework.device.ui.DevicePerspectiveFactory"
         id="org.eclipse.tml.device.perspective"
         name="TmL perspective">
   </perspective>
</extension>
<extension
      point="org.eclipse.ui.propertyPages">
   <page
         class="org.eclipse.tml.framework.device.ui.editors.InstancePropertyEditor"
         id="org.eclipse.tml.framework.device.ui.editors.InstancePropertyEditorDefault"
         name="Instance Properties">
      <enabledWhen>
         <instanceof
               value="org.eclipse.tml.framework.device.internal.model.MobileInstance">
         </instanceof>
      </enabledWhen>
   </page>
</extension>
</plugin>
