<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point 
   		id="org.eclipse.sequoyah.device.framework.wizard" 
   		name="Settings for New Device Instance Wizard" 
   		schema="schema/org.eclipse.sequoyah.device.framework.wizard.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>
</plugin>
