<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.tml.deviceTypes" name="Device Type definition" schema="schema/org.eclipse.tml.deviceTypes.exsd"/>      
   <extension-point id="org.eclipse.tml.service" name="Service definition" schema="schema/org.eclipse.tml.service.exsd"/>
   <extension-point id="org.eclipse.tml.serviceDefinition" name="Service Definition customized for Mobile Device" schema="schema/org.eclipse.tml.serviceDefinition.exsd"/>
   <extension-point id="org.eclipse.tml.status" name="Status" schema="schema/org.eclipse.tml.status.exsd"/>   
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.tml.framework.device.DevicePlugin">
      </startup>
   </extension>
   <extension
         id="INACTIVE"
         point="org.eclipse.tml.status">
      <status
            canDeleteInstance="true"
            canEditProperties="true"
            id="INACTIVE"
            image="icons/full/obj16/inactive.gif"
            name="INACTIVE">
      </status>
   </extension>
    <extension
          id="OFF"
          point="org.eclipse.tml.status">
      <status
            canDeleteInstance="true"
            canEditProperties="true"
            id="OFF"
            image="icons/full/obj16/stop.png"
            name="OFF">
      </status>
   </extension>
    <extension
          id="IDLE"
          point="org.eclipse.tml.status">
      <status
            canDeleteInstance="false"
            canEditProperties="false"
            id="IDLE"
            image="icons/full/obj16/start.png"
            name="IDLE">
      </status>
   </extension>
  
</plugin>
