<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>   
   <extension
         point="org.eclipse.sequoyah.device.framework.deviceTypes">
      <deviceType
            description="%deviceType.description"
            handler="org.eclipse.sequoyah.device.qemu.handler.QEmuGenericDeviceHandler"
            id="org.eclipse.sequoyah.device.qemu.abstract"
            isAbstract="true"
            isPersistent="true"
            label="%deviceType.label"
            name="Abstract QEMU device"
            superClass="org.eclipse.sequoyah.device.emulator">
         <property
               name="icon"
               value="icons/full/obj16/qemu.gif">
         </property>
      </deviceType>
   </extension>
   <extension
         id="org.eclipse.sequoyah.device.qemu.abstract"
         name="%extension.name"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
           id="org.eclipse.sequoyah.device.service.start.startService">
         <status
               endId="IDLE"
               haltId="OFF"
               startId="OFF">
         </status>
      </service>
   </extension>
   <extension
         id="org.eclipse.sequoyah.device.qemu.abstract"
         name="%extension.name.0"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="org.eclipse.sequoyah.device.service.stop.stopService">
         <status
               endId="OFF"
               haltId="IDLE"
               startId="IDLE">
         </status>
         <status
               endId="OFF"
               haltId="IDLE-VNC"
               startId="IDLE-VNC">
         </status>
      </service>
   </extension>
	<extension

          id="org.eclipse.sequoyah.device.qemu.abstract"

          name="%extension.name.1"

          point="org.eclipse.sequoyah.device.framework.serviceDefinition">

       <service

             id="org.eclipse.sequoyah.device.service.vncviewer.vncViewerService">

          <status
                endId="IDLE-VNC"
                haltId="IDLE"
    			startId="IDLE">

          </status>
          <status
                endId="IDLE-VNC"
                haltId="IDLE"
                startId="IDLE-VNC">
          </status></service>

    </extension>
    <extension

          id="org.eclipse.sequoyah.device.qemu.abstract"

          name="%extension.name.2"

          point="org.eclipse.sequoyah.device.framework.serviceDefinition">

       <service

             id="org.eclipse.sequoyah.device.service.vncviewer.unplugVncViewerService">

          <status

                endId="IDLE"

                haltId="IDLE"

                startId="IDLE-VNC">

          </status></service>

    </extension>
    
   <extension
         id="generic"
         name="%extension.name.3"
         point="org.eclipse.sequoyah.device.framework.deviceTypes">
      <deviceType
            description="%deviceType.description.0"
            handler="org.eclipse.sequoyah.device.qemu.handler.QEmuGenericDeviceHandler"
            id="org.eclipse.sequoyah.device.qemu.generic"
            isAbstract="false"
            isPersistent="true"
            label="%deviceType.label.0"
            name="Generic QEMU device"
            superClass="org.eclipse.sequoyah.device.qemu.abstract">
         <property
               name="icon"
               value="icons/full/obj16/qemu.gif">
         </property>
      </deviceType>
   </extension>
   <extension
          point="org.eclipse.sequoyah.device.framework.ui.newDeviceWizardPages">
       <wizardPage
             id="org.eclipse.sequoyah.device.qemu.generic.wizardPage1"
             pageClass="org.eclipse.sequoyah.device.qemu.wizard.custom.QEmuBinarySettingsWizardPage">
          <deviceType
                deviceTypeId="org.eclipse.sequoyah.device.qemu.generic">
          </deviceType>
       </wizardPage>
   </extension>
   <extension
          point="org.eclipse.sequoyah.device.framework.ui.newDeviceWizardPages">
       <wizardPage
             id="org.eclipse.sequoyah.device.qemu.generic.wizardPage2"
             pageClass="org.eclipse.sequoyah.device.qemu.wizard.custom.QEmuConnectionInfoWizardPage">
          <deviceType
                deviceTypeId="org.eclipse.sequoyah.device.qemu.generic">
          </deviceType>
       </wizardPage>
   </extension>

</plugin>
