<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.sequoyah.android.cdt.build.ui.objectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="com.android.ide.eclipse.adt.AndroidNature"
               label="Android Tools"
               path="additions">
            <separator
                  name="group4">
            </separator>
         </menu>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="com.android.ide.eclipse.adt.AndroidNature">
               </objectState>
               <not>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.cdt.core.cnature">
                  </objectState>
               </not>
            </and>
         </visibility>
         <action
               class="org.eclipse.sequoyah.android.cdt.internal.build.ui.AddNativeSupport"
               icon="icons/android_native_16x16.png"
               id="org.eclipse.sequoyah.android.cdt.build.ui.addNativeSupport"
               label="Add Native Support..."
               menubarPath="com.android.ide.eclipse.adt.AndroidTools/group4">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
     		category="com.android.ide.eclipse.preferences.main"
            class="org.eclipse.sequoyah.android.cdt.internal.build.ui.NDKPreferencePage"
            id="org.eclipse.sequoyah.android.cdt.build.ui.NDKPreferencePage"
            name="%androidNDKPreferencesPageName">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.sequoyah.android.cdt.internal.build.ui.NDKPropertyPage"
            id="org.eclipse.sequoyah.android.cdt.build.ui.NDKPropertiesPage"
            name="%androidNDKPropertiesPageName">
       	 <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.internal.core.JavaProject">
               </instanceof>
            </or>
         </enabledWhen>
         <filter
               name="nature"
               value="com.eclipse.cdt.core.cnature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="org.eclipse.sequoyah.android.cdt.internal.build.ui.NDKQuickFixParticipant"
            createsProblems="true"
            id="org.eclipse.sequoyah.android.cdt.build.ui.compilationParticipant">
         <managedMarker
               markerType="org.eclipse.sequoyah.android.cdt.build.ui.managedMarker">
         </managedMarker>
      </compilationParticipant>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="org.eclipse.sequoyah.android.cdt.internal.build.ui.QuickFixProcessor"
            id="org.eclipse.sequoyah.android.cdt.build.ui.quickFixProcessor">
         <handledMarkerTypes>
            <markerType
                  id="org.eclipse.sequoyah.android.cdt.build.ui.managedMarker">
            </markerType>
         </handledMarkerTypes>
      </quickFixProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <template
            autoinsert="true"
            contextTypeId="java-members"
           description="basic method declaration for native call"
            id="org.eclipse.sequoyah.android.nativeMethodTemplate"
            name="native method">
         <pattern>
            /**
* Native Method declaration stub. To generate the corresponding C code
* choose &quot;Source &gt; Generate C  files from Java Class&quot; 
*/
${visibility} native ${returnType} ${methodName}(${arguments});
         </pattern>
      </template>
      <template
            autoinsert="true"
            contextTypeId="java-members"
            description="Pre-compiled Android Native Lib loading statement"
            id="org.eclipse.sequoyah.android.nativeLibTemplate"
            name="load native lib">
         <pattern>
            static{

	//Native library linking directive. Change the libname to the native library name without the lib 
	//prefix and the .so suffix
 	System.loadLibrary(&quot;${libName}&quot;);

}
         </pattern>
      </template>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.source.menu">
         <command
               commandId="org.eclipse.sequoyah.android.cdt.internal.build.ui.javatocppgenerator"
               icon="icons/java_to_c_16x16.png"
               label="%androidNDKGenerateCSource"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <instanceof
                        value="org.eclipse.jface.text.TextSelection">
                  </instanceof>
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <or>
                           <instanceof
                                 value="org.eclipse.jdt.core.ICompilationUnit">
                           </instanceof>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IResource">
                              </instanceof>
                              <test
                                    property="org.eclipse.core.resources.EXTENSION"
                                    value="java">
                              </test>
                           </and>
                        </or>
                     </iterate>
                  </and>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.eclipse.jdt.ui.source.menu"
               label="&amp;Source">
            <command
                  commandId="org.eclipse.sequoyah.android.cdt.internal.build.ui.javatocppgenerator"
                  icon="icons/java_to_c_16x16.png"
                  label="%androidNDKGenerateCSource"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <instanceof
                           value="org.eclipse.jface.text.TextSelection">
                     </instanceof>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false"
                              operator="or">
                           <or>
                              <instanceof
                                    value="org.eclipse.jdt.core.ICompilationUnit">
                              </instanceof>
                              <and>
                                 <instanceof
                                       value="org.eclipse.core.resources.IResource">
                                 </instanceof>
                                 <test
                                       property="org.eclipse.core.resources.EXTENSION"
                                       value="java">
                                 </test>
                              </and>
                           </or>
                        </iterate>
                     </and>
                  </or>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.sequoyah.android.cdt.internal.build.ui.NDKJavaToCppGeneratorHandler"
            id="org.eclipse.sequoyah.android.cdt.internal.build.ui.javatocppgenerator"
            name="%androidNDKGenerateCSource">
      </command>
      <command
            defaultHandler="org.eclipse.sequoyah.android.cdt.internal.build.ui.NDKAddNativeSupportHandler"
            id="org.eclipse.sequoyah.android.cdt.internal.build.ui.addNativeSupport"
            name="%androidNDKAddNativeSupport">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.sequoyah.android.cdt.internal.build.ui.AndroidNativePerspective"
            icon="icons/android_native_16x16.png"
            id="org.eclipse.sequoyah.android.cdt.build.ui.perspective"
            name="%androidNDKPerspectiveName">
      </perspective>
   </extension>

</plugin>
