<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="qemureactDevice"
         name="qemureactDevice"
         point="org.eclipse.tml.device">
      <device
            copyright="Motorola Inc. 2007"
            description="Mobile Emulator for QEMUARM"
            handler="org.eclipse.tml.device.qemureact.handler.QEmuReactDeviceHandler"
            icon="icons/full/obj16/qemureact.gif"
            id="org.eclipse.tml.device.qemureact.qemureactDevice"
            name="QEmuReact Mobile Device"
            provider="Eclipse.org"
            version="0.2.0">
      </device>
   </extension>
   <extension
         id="org.eclipse.tml.device.qemureact.qemureactDevice"
         name="startService"
         point="org.eclipse.tml.serviceDefinition">
      <service
            handler="org.eclipse.tml.device.qemureact.handler.StartServiceHandler"
            id="org.eclipse.tml.service.start.startService">
         <status
               endId="IDLE"
               haltId="OFF"
               handler="org.eclipse.tml.device.qemureact.handler.StartStatusHandler"
               startId="OFF">
         </status>
      </service>
   </extension>
    <extension
         id="org.eclipse.tml.device.qemureact.qemureactDevice"
         name="stopService"
         point="org.eclipse.tml.serviceDefinition">
      <service
            handler="org.eclipse.tml.device.qemureact.handler.StopServiceHandler"
            id="org.eclipse.tml.service.stop.stopService">
         <status
               endId="OFF"
               haltId="IDLE"
               handler="org.eclipse.tml.device.qemureact.handler.StopStatusHandler"
               startId="IDLE">
         </status>
         <status
               endId="OFF"
               haltId="IDLE-VNC"
               handler="org.eclipse.tml.device.qemureact.handler.StopStatusHandler"
               startId="IDLE-VNC">
         </status>
      </service>
   </extension>
   <extension
         id="IDLE-VNC"
         point="org.eclipse.tml.status">
      <status
            id="IDLE-VNC"
            image="icons/full/obj16/qemureact2.gif"
            name="IDLE-VNC">
      </status>
   </extension>
   
  <extension
          point="org.eclipse.tml.device.wizard"
          id="qemureactWizard"
          name="Settings for QEmuReact Emulator">
          <settings
                 needsProgressMonitor="true"
                 forcePreviousAndNextButtons="true"
                 canFinishEarly="false"
         		 image="icons/full/cview16/emulator_ban.gif"
         		 title="QemuReact Device Instance Wizard">
          </settings>     
          <customizer class ="org.eclipse.tml.device.qemureact.wizard.DefaultWizardCustomizer" >          
          </customizer>
          <usage
                class="org.eclipse.tml.device.qemureact.wizard.DefaultNewEmulatorInstanceWizard"
                device="org.eclipse.tml.device.qemureact.qemureactDevice">
          </usage>    
    </extension>
    <extension
         id="qemureactWizard"
         name="QemuReact Device Instance Wizard"
         point="org.eclipse.ui.newWizards">
     <category
	   id = "org.eclipse.ui.emulators"
	   name="Emulators">
	 </category>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.emulators"
            class="org.eclipse.tml.device.qemureact.wizard.DefaultNewEmulatorInstanceWizard"
            hasPages="true"
            icon="icons/full/cview16/emulator_wiz.gif"
            id="qemureactWizard"
            name="QemuReact Device Instance Wizard"
            project="true">
            <description>Create a new QEmu ReactOS device instance</description>
      </wizard>
   </extension>
<extension

          id="org.eclipse.tml.device.qemureact.qemureactDevice"

          name="vncViewerService"

          point="org.eclipse.tml.serviceDefinition">

       <service

             id="org.eclipse.tml.service.vncviewer.vncViewerService">

          <status

                endId="IDLE-VNC"

                haltId="IDLE"

                handler="org.eclipse.tml.device.qemureact.handler.VNCStatusHandler"

                startId="IDLE">

          </status>
          <status
                endId="IDLE-VNC"
                haltId="IDLE-VNC"
                handler="org.eclipse.tml.device.qemureact.handler.VNCStatusHandler"
                startId="IDLE-VNC">
          </status></service>

    </extension>
    <extension

          id="org.eclipse.tml.device.qemureact.qemureactDevice"

          name="unplugVncViewerService"

          point="org.eclipse.tml.serviceDefinition">

       <service

             id="org.eclipse.tml.service.vncviewer.unplugVncViewerService">

          <status

                endId="IDLE"

                haltId="IDLE-VNC"

                handler="org.eclipse.tml.device.qemureact.handler.UnplugVNCStatusHandler"

                startId="IDLE-VNC">

          </status></service>

    </extension>
    
    
    
    

</plugin>
