<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="sdkRepositoryProvider" name="%extension-point.name" schema="schema/sdkRepositoryProvider.exsd"/>
   <extension
         point="org.eclipse.mtj.pulsar.core.sdkRepositoryProvider">
      <provider
            class="org.eclipse.mtj.internal.pulsar.core.DefaultSDKRepositoryProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.eclipse.mtj.internal.pulsar.core.action.ExecuteAction"
            name="org.eclipse.equinox.p2.touchpoint.natives.execute"
            touchpointType="org.eclipse.equinox.p2.native"
            touchpointVersion="1.0.0"
            version="1.0.0">
      </action>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.eclipse.mtj.internal.pulsar.core.action.UnzipAndExecuteAction"
            name="org.eclipse.equinox.p2.touchpoint.natives.unzipandexecute"
            touchpointType="org.eclipse.equinox.p2.native"
            touchpointVersion="1.0.0"
            version="1.0.0">
      </action>
   </extension>

</plugin>
